
<!-- 동기식 작동 html -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <form th:action="@{/books/login}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Login"/>
        </div>
        <div th:if="${param.error}">
            <div class="error">
                잘못된 유저네임과 패스워드.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="success">
               로그아웃 완료 다시 로그인해주세요
            </div>
        </div>
    </form>

    <form th:action="@{/books/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form> 
</div>
</body>
</html>
     

<!-- 비동기식 html -->
<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <form id="loginForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div class="form-group">
            <input type="button" id="loginBtn" value="Login"/>
        </div>
        <div id="error" th:if="${param.error}" class="error">
            잘못된 유저네임과 패스워드.
        </div>
        <div id="logoutSuccess" th:if="${param.logout}" class="success">
           로그아웃 완료 다시 로그인해주세요
        </div>
    </form>

    <form th:action="@{/books/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html> -->
