<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/updateBook.js"></script>
    <title>도서 게시판</title>
    <style>
        
    </style>
</head>


<h1>수정페이지</h1>

<label for="bookNo">번호:</label>
<input type="text" id="bookNo" th:value="${bookNo}" readonly> 

<label for="bookTitle">제목:</label>
<input type="text" id="bookTitle" th:value="${bookTitle}"> 

<label for="bookWriter">작성자:</label>
<input type="text" id="bookWriter" th:value="${bookWriter}">


<button id="updateButton">Update</button>


</body>
</html>
